<style type="text/css">
	#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
   /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  
  width: 80px;
  height: 80px;
}
#hm{
   display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 80px; /* Place the button 30px from the right */
  z-index: 80; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
   /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
 
  font-size: 18px; /* Increase font size */
  width: 80px;
  height: 80px;
}
#back{
   display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 130px; /* Place the button 30px from the right */
  z-index: 70; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
   /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
 
  font-size: 18px; /* Increase font size */
  width: 70px;
  height: 70px;
}




</style>

 <img src="/top.png" onclick="topFunction()" id="myBtn" title="Go to top">
<a href="/"><img src="/home.png"title="Home" id="hm"></a>
<img src="/back.png" onclick="goBack()" id="back" title="Go Back">

<script type="text/javascript">
	mybutton = document.getElementById("myBtn");
  mybutton2 = document.getElementById("hm");
  backbutton = document.getElementById("back")

  var getUrl = window.location;
var baseUrl = getUrl .protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
 if (window.location.href !== baseUrl) {
      backbutton.style.display = "block";
     }else{
      backbutton.style.display = "none";
     }
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
     mybutton2.style.display = "block";
    
  } else {
    mybutton.style.display = "none";
    mybutton2.style.display = "none";
    
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
function goBack() {
  window.history.back();
}

</script>