<style type="text/css">
.yt{
position: relative;
}
.seemore{
	width: 200px;
	height: auto;
	margin-top: 15px;
	left: 50%;
	cursor: pointer;

}
}
</style>
<div style="margin-top: 80px;">
<h1>highlight</h1>
{{ range first 1 (where  .Data.Pages "Type" "highlight") }}
<div class="fb-video" data-href="https://{{ .Params.Url }}" data-show-text="false" data-width=""><blockquote cite="https://developers.facebook.com/htethtet.oomyanmar/videos/618136218826083/" class="fb-xfbml-parse-ignore">Posted by <a href="https://www.facebook.com/htethtet.oomyanmar/">My Bucket List</a> on Monday, July 27, 2020</blockquote></div>
<img class="seemore" src="/seemore.png" onclick="location.href='{{.Permalink}}';">
{{end}}
</div>


