{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="text-center">
      <h1 class="text-center display-3">{{.Title}}</h1>
    </div>
  </div>
</section>

<section class="section pt-0">
  <div class="container-fluid">
    <div class="row">
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $index,$elements:= $paginator.Pages }}
    
     
          
         <div class="fb-video" data-href="https://{{ .Params.Fburl }}" data-show-text="false" data-width=""><blockquote cite="https://developers.facebook.com/htethtet.oomyanmar/videos/618136218826083/" class="fb-xfbml-parse-ignore">Posted by <a href="https://www.facebook.com/htethtet.oomyanmar/">My Bucket List</a> on Monday, July 27, 2020</blockquote></div>

           
     
      {{ end }}
    </div>
  </div>
</section>

{{ end }}